* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
/* navbar section */
nav {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo img {
  max-width: 139px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.menu ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu ul li a {
  color: #000000;
  font-size: 16px;
}
.btn {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  background-color: #30b868;
}
.btn-nav:hover,
.btn-nav:active {
  color: #ffffff;
  cursor: pointer;
  background-color: #2a9e5c;
  border: 1px solid #2a9e5c;
}

/*Banner section*/
#banner .banner-img {
  background-image: url('../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.banner-content {
  margin: 0 auto;
  text-align: center;
}
.banner-btn1 .banner-btn11 {
  font-weight: 500;
  color: #30b868;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 16px;
  border: none;
  display: inline-flex;
}

.banner-btn11 img {
  padding-right: 6px;
  padding-bottom: -17px;
}
.banner-btn11:hover,
.banner-btn11:active {
  cursor: pointer;
  border: 3px solid #2a9e5c;
}
.banner-content h1 {
  text-align: center;
  font-size: 72px;
  color: #ffffff;
}
.banner-content .special-h1 {
  color: #30b868;
}
.banner-content p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  max-width: 720px;
  margin-bottom: 16px;
}
.btn-special {
  display: inline-flex;
  gap: 7px;
  font-size: 16px;
}
.btn-special2 {
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: transparent;
  margin-left: 10px;
}
.fa-play {
  padding-right: 16px;
}
.btn-special2:hover,
.btn-special2:active {
  color: #2a9e5c;
  cursor: pointer;

  border: 1px solid #2a9e5c;
}

/*Notes section*/

#notes {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}
.notes-heading h2 {
  font-weight: 700;
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
.notes-heading p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}
.notes-box {
  display: flex;
  gap: 24px;
}
.notes-card img {
  max-width: 60px;
  background-color: #f95555;
  padding: 12px;
  border-radius: 100%;
}
.notes-card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
.notes-card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}
.notes-card {
  max-width: 322px;
  box-shadow: 0px 0px 8px #00000020;
  margin: 0 auto;
  padding-top: 69px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 2px;
}
.notes2 {
  display: flex;
  margin-top: 120px;
  gap: 60px;
}
.notes-bg {
  max-width: 600px;
}
.notes2-content {
  padding-top: 112px;
  padding-bottom: 112px;
}
.notes2-content h4 {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  margin-bottom: 16px;
}
.notes2-content h2 {
  font-weight: 700;
  font-size: 48px;
  color: #001931;

  text-align: left;
}
.notes2-content p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 44px;
  text-align: left;
}

.notes2-content ul {
  text-align: left;
}
.notes2-content ul li {
  display: inline-flex;
  gap: 3px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #001931;
}
/*Think Section*/
#think {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  background-color: #f7f6f2;
  padding-top: 80px;
  border-radius: 8px;
}
.think-content h2 {
  font-weight: 700;
  font-size: 48px;
  color: #001931;
}
.think-content p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  padding-top: 16px;
  padding-bottom: 24px;
  max-width: 600px;
  margin: 0 auto;
}
.think-content button {
  display: inline-flex;
  gap: 4px;
}
.think-content .sp-p {
  padding-bottom: 80px;
}
/*Foter*/

footer {
  background-color: #001931;
  margin-top: 110px;
}
.footer-content {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}
.footer-con {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.logo-social {
  color: #f7f6f2;
  font-size: 20px;
  font-weight: 500;
}
.logo-social .logoss {
  display: flex;
  gap: 16px;
  padding-top: 10px;
}
.logo-social .logoss a {
  color: #f7f6f2;
}
.hrr-special {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.162);
}

.footer-content .speciall-h4 {
  font-size: 16px;
  font-weight: 400;
  color: #fafafafa;
  padding-top: 30px;
  padding-bottom: 30px;
}
