* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
nav {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo img {
  max-width: 139px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.menu ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu ul li a {
  color: #000000;
  font-size: 16px;
}
.btn {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  background-color: #30b868;
}
.btn-nav:hover,
.btn-nav:active {
  color: #ffffff;
  cursor: pointer;
  background-color: #2a9e5c;
  border: 1px solid #2a9e5c;
}
